.background-img {
   width: 100%;
   background-position: center;
   position: fixed;
   z-index: -1000000;
}

/* .bicycle {
    width: 250px;
    top: 100px;
    left: 400px;
    position: relative;
} */

.fish1 {
    width: 300px;
    position: absolute;
    top: 87px;
    left: 1511px;
}

.fish2 {
    width: 300px;
    position: absolute;
    top: 913px;
    left: 69px;
}

.fish3 {
    width: 300px;
    position: absolute;
    top: 673px;
    left: 18px;
    animation: fishmove3 5s linear infinite;
}

.fish4 {
    width: 300px;
    position: absolute;
    top: 909px;
    left: 1579px;
}

.fish5 {
    width: 300px;
    position: absolute;
    top: 23px;
    left: 18px;
    transform: rotate(60deg);
    animation: fishMove5 35s linear infinite;
}

.fish6 {
    width: 300px;
    position: absolute;
    top: 486px;
    left: 780px;
}


@keyframes fishMove5 {
    0%   {top: 23px; left: 18px;}
    100% {top: 806px; left: 1541px;}
}

@keyframes move {
    0%   {top: 0px;}
    25%  {top: 200px;}
    50%  {top: 100px;}
    75%  {top: 200px;}
    100% {top: 0px;}
  }

  @keyframes fishmove3 {
    0%   {top: 673px; left: 18px;}
    50%  {top: 469px; left: 807px;}
    100% {top: -152px; left: -1196px; transform: rotate(-316deg);}
  }