.background-img {
   width: 100%;
   background-position: center;
   position: fixed;
   z-index: -1000000;
}

/* .bicycle {
    width: 250px;
    top: 100px;
    left: 400px;
    position: relative;
} */

.fish1 {
    width: 300px;
    position: absolute;
    top: 163px;
    left: -340px;
    animation: fishMove1 35s linear infinite 2s;
}
@keyframes fishMove1 {
    0%   {top: 163px; left: 1600px;}
    100% {top: 500px; left: -300px; transform: rotate(-40deg)}
}
.fish2 {
    width: 300px;
    position: absolute;
    top: 740px;
    left: -300px;
    animation: fishMove2 55s linear infinite 2s;
}
@keyframes fishMove2 {
    0%   {top: 740px; left: -300px;}
    100% {top: 740px; left: 1500px;}
}

.fish3 {
    width: 300px;
    position: absolute;
    top: 673px;
    left: 18px;
    animation: fishMove3 55s linear infinite;
}
@keyframes fishMove3 {
    0%   {top: 673px; left: 18px;}
    50%  {top: 469px; left: 807px;}
    100% {top: -152px; left: 1300px; transform: rotate(-60deg);}
  }

.fish4 {
    width: 300px;
    position: absolute;
    top: 770px;
    left: 1603px;
    animation: fishMove4 35s linear infinite;
}
@keyframes fishMove4 {
    0%   {top: 770px; left: 1603px;}
    100% {top: -182px; left: -182px; transform: rotate(60deg);
    }
}

.fish5 {
    width: 300px;
    position: absolute;
    top: 23px;
    left: 18px;
    transform: rotate(60deg);
    animation: fishMove5 35s linear infinite;
}
@keyframes fishMove5 {
    0%   {top: 23px; left: 18px;}
    100% {top: 806px; left: 1541px;}
}


.fish6 {
    width: 300px;
    position: absolute;
    top: 343px;
    left: -289px;
    animation: fishMove6 35s linear infinite;
}

@keyframes fishMove6 {
    0%   {top: 343px; left: -289px;}
    100% {top: 330px; left: 1571px;}
}


  